*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
}

.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(31, 31, 31);
    background-size: cover;
}

.contact .header{
    max-width: 800px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.contact .header .back{
    width: 50px;height: 50px;
    appearance: none;
    position: absolute;
    left: 20px;
    border-radius: 50%;
    background-color:  #092a4b;
    box-shadow: 0 0 10px rgba(80, 80, 80, 0.116);
    color: rgb(150, 150, 150);
}

.back:hover{
    cursor: pointer;
    transform: scale(1.3);
}

.back a{
    text-decoration: none;
    color: rgb(150, 150, 150);
    font-size: 40px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}



.contact .header h2{
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}

.contact .header p{
    font-weight: 300;
    color: #fff;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

}

.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;

}

.container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-style: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.container .contactInfo .box .text h3{
    font-weight: 500;
    color: #0063d4;
}

.contactForm{
    width: 40%;
    padding: 40px;
    background:#fff;
}

.contactForm h2{
    font-style: 30px;
    color: #363636;
    font-weight: 500;
}

.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none; 
    resize: none;
}

.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
    color: #000550;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"]{
    width: 100px;
    background: #092a4b;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}


@media(max-width: 990px){

    .contact{
        padding: 50px;
    }
    .container{
        flex-direction: column;
    }
    .container .contactInfo{
        margin-bottom: 40px;
    }
    .container .contactInfo,
    .contactForm{
        width: 100%;
    }
}

/*REDES SOCIALES DESPLEGABLE */

.socials{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
}
.card{
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0.150);
    border-radius: 10px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.205),
    inset 0 20px 20px rgba(253,253,253,0.205);
    margin: 25px;

    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 2em;
    color: rgba(255, 255, 255, 0.336);
    position: relative;
    transition: box-shadow .4s,color .8s, transform .4s;

}

.card:hover{
    color: #fff;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.205),
                inset 0 20px 10px rgba(255,255,255,0.287), 
                inset 10px 0 20px rgb(255,58,58), 
                inset -20px 0px 20px rgb(104,255,58), 
                inset -30px 0 20px rgb(71,58,255);
    transform: translateY(-10px);
}

